* {
  background-color: rgb(9, 9, 9);
  color: white;
}
.header {
  margin: 5px;
  display: flex;
}
.btns_container {
  display: flex;
  margin-left: 20%;
}
.btn {
  background-color: rgb(76, 76, 76);
}
.files {
  margin-left: 15px;
  border-bottom: 1px solid rgb(126, 125, 125);
  border-top: 1px solid rgb(126, 125, 125);
}
.input {
  background-color: gainsboro;
  color: black;
}
